@using Amlak.Core.DTO.Detail
@using Amlak.Core.ViewModel.Category
@using Amlak.Core.ViewModel.Option
@using DNTPersianUtils.Core
@using Amlak.Core.SSOT;
@using Newtonsoft.Json

@inject FileConfig FileConfig

@model Alamut.Data.Paging.IPaginated<Amlak.Core.ViewModel.House.HouseViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@{
    var Option = (List<OptionViewModel>)ViewBag.OptionList;
    var Cateroty = (List<CategoryViewModel>)ViewBag.CategoryList;

    var filter = (SearchDTO)ViewBag.Filter;

}

<div class="FullContainer container-fluid relative">
    <div class="PageMainContent ofh relative">
        <div class="MainContentRow row mx-auto mt-2">
            <div class="RightPannel col-lg-3 col-md-4 col-12 order-md-1 order-2">
                <div class="SearchHome block ofh cb">
                    <div class="InnerPageItemHeader radius3">
                        <h2 class="InnerPageItemHeaderTitle tr w-100 lh3-5 h100p bold prl15 relative"><span class="InnerPageItemHeaderTitleBefore absolute after"></span>جستجو خانه</h2>
                    </div>
                    <div class="SearchHomeContent">
                        <div class="SearchFormTabPanneItem p-2">
                            <form asp-controller="Search" asp-action="Index" method="get">
                                <input class="form-control my-2 block ofh cb" name="Area" value="@(!string.IsNullOrEmpty(filter.Area) ? filter.Area :"")" type="text" placeholder="مکــــــــــان" id="example-text-input">
                                <div class="form-group my-2">
                                    @Html.DropDownList("Status", ViewBag.StatusType as IEnumerable<SelectListItem>, "همه ی موارد", new { @class = "form-control" })
                                 </div>
                                <div class="form-group my-2">
                                    <select name="CategoryId" class="form-control" id="exampleSelect1">
                                        <option disabled selected>نـــوع خانـــه</option>
                                        @foreach (var item in Cateroty)
                                        {
                                            <option value="@item.Id" >@item.Title</option>
                                        }

                                    </select>
                                </div>
                                <div class="form-group my-2">
                                    <select name="Rooms" class="form-control" id="exampleSelect1">
                                        <option disabled selected>تعــداد اتـــاق</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>+3</option>
                                    </select>
                                </div>
                                <div class="form-group my-2">
                                    <select name="Bathrooms" class="form-control" id="exampleSelect1">
                                        <option disabled selected>تعــداد حمــام</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>+3</option>
                                    </select>
                                </div>
                                <div class="PriceRange my-5 tc p-2">
                                    <div id="testRange"></div>
                                </div>
                                <div class="row w-100 m-auto justify-content-between">
                                    <button type="submit" class="btn btn-primary SearchFormBtn SearchBtn rounded-0 col-6">جستجو</button>
                                    <button class="btn btn-primary SearchFormBtn MoreOptionBtn rounded-0 col-6" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        موارد بیشتر
                                    </button>
                                    <div class="collapse my-2 p-2 MoreOptionItem w-100" id="collapseExample">
                                        <div class="row w-100 m-auto">
                                            @foreach (var item in Option)
                                            {
                                                <label class="custom-control custom-checkbox px-1 col-6">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description mr-2 mt-1">@item</span>
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @await Component.InvokeAsync("SpecialOffer")

            </div>
            <div class="MainContentRow col-lg-9 col-md-8 col-12 order-md-2 order-1">
                <div class="HouseList">
                    <div class="d-block ofh cb">

                        @foreach (var item in Model.Data)
                        {

                            var imageAddress = item.PhotoGalleryJson == null ? "[]" : JsonConvert.DeserializeObject(item.PhotoGalleryJson);

                            <div class="HouseListItem row w-100 mx-auto mb-3 align-items-center">
                                <a asp-controller="Detail" asp-action="Index" asp-route-id="@item.Id" class="HouseListItemPicLink d-block col-sm-4 col-12 p-0 relative">
                                    <figure class="w-100 relative text-center">
                                        <img src="@FileConfig.WebAddress@imageAddress" class="img-fluid trans400" />
                                        <figcaption class="absolute t0 trans400 bold textcut d-flex align-items-center justify-content-center">قیمت :@item.Price.TomansThousand()</figcaption>
                                    </figure>
                                    <div class="HouseListItemType absolute text-center trans400">@item.Category?.Title</div>
                                </a>
                                <div class="HouseListItemContent col-sm-8 col-12">
                                    <a href="javascript:void(0)" class="HouseListItemTitle d-block textcut my-3 trans400">@item.Title</a>
                                    <div class="HouseListItemLocation my-2">@item.Town</div>
                                    <div class="HouseListItemsummary CutString CutString2 lh2-5">
                                        @item.Description
                                    </div>
                                    <div class="block ofh">
                                        <div class="row w-100 mx-auto">
                                            <span class="LandSize HouseListDetail my-2 d-flex align-items-center col-lg-3 col-md-6 col-12 relative after">@item.Scale.ToPersianNumbers()</span>
                                            <span class="BedCount HouseListDetail my-2 d-flex align-items-center col-lg-3 col-md-6 col-12 relative after">@item.Rooms.ToPersianNumbers()</span>
                                            <span class="BathCount HouseListDetail my-2 d-flex align-items-center col-lg-3 col-md-6 col-12 relative after">@item.Bathrooms.ToPersianNumbers()</span>
                                            <span class="MoreBtnContainer col-lg-3 col-md-6 col-12 px-3 my-2"><a asp-controller="Detail" asp-action="Index" asp-route-id="@item.Id" class="MoreBtn p-2 block text-center trans400">بیشتر</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div class="Paging">
                    @Html.Partial("_Pagination")
                </div>
            </div>
        </div>
        <div class=""></div>
    </div>

</div>

