@using Amlak.Core.Extensions
@using Amlak.Core.SSOT
@using DNTPersianUtils.Core

@inject AppSetting  AppSetting

<header class="MainHeader sborder">
    <div class="HeaderImpoLInks d-flex flex-row-reverse">
        @if(User.Identity.IsAuthenticated)
        {
            <a asp-controller="House" asp-action="Index" class="HeaderImpoLInksItem lh3 tc relative trans400 before after">
                <span class="ImpoLInksItemIcon absolute"><i class="fa fa-user"></i></span>پروفایل
            </a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login" class="HeaderImpoLInksItem lh3 tc relative trans400 before after">
                <span class="ImpoLInksItemIcon absolute"><i class="fa fa-user"></i></span>ورود
            </a>
        
        }
        
        @if(User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Logout" class="HeaderImpoLInksItem lh3 tc relative trans400 before after">
                <span class="ImpoLInksItemIcon absolute"><i class="fa fa-user"></i></span>خروج
            </a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Register" class="HeaderImpoLInksItem lh3 tc relative trans400 before after">

                <span class="ImpoLInksItemIcon absolute"><i class="fa fa-user"></i></span>
                ثبت نام
            </a>
        
        }

      
        <a href="@AppSetting.InstagramLink" class="HeaderImpoLInksItem lh3 tc relative trans400"><span class="ImpoLInksItemIcon absolute"><img src="~/image/icon9.png" class="responsiveimage" /></span>اینستاگرام</a>
        <a href="@AppSetting.TelegramLink" class="HeaderImpoLInksItem lh3 tc relative trans400 before after"><span class="ImpoLInksItemIcon absolute"><img src="~/image/icon10.png" class="responsiveimage" /></span>تلگرام</a>
    </div>
    <div class="HeaderAboutRaga row ptb5 d-flex justify-content-between sborder m0a">
        <a asp-controller="Home" asp-action="Index" class="RagaLogo col-sm-5 col-12 d-flex align-items-center justify-content-center">
            <figure class="LogoPic dinlineblock fr">
                <img src="~/image/logo.png" />
            </figure>
            <h1 class="WebSiteName dinlineblock fr lh2 tc trans400">گروه مشاورین مسکن <span>راگــــــــــــــــــا</span></h1>
        </a>
        <div class="col-md-6 col-sm-7 col-12 d-flex align-items-center justify-content-end">
            <div class="RagaContact row w100p m0a">
                <div class="RagaContactItem col-3 tc dl relative before after"><span class="RagaContactItemIcon mr10"><i class="fa fa-clock-o"></i></span> @DateTime.Now.ToShortPersianDateTimeString().ToPersianNumbers()</div>
                <div class="RagaContactItem col-5 tc dl relative"><span class="RagaContactItemIcon mr10"><i class="fa fa-envelope"></i></span>@AppSetting.EmailAddress</div>
                <div class="RagaContactItem col-4 tc dl relative before after"><span class="RagaContactItemIcon mr10"><i class="fa fa-phone"></i></span>@AppSetting.PhoneNumber</div>
            </div>
        </div>
    </div>
    <div class="PageNavbar ofh cb">
        <nav class="navbar navbar-expand-lg fr w100p">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="MainNav block ofh fr navbar-nav nopadding w100p d-flex justify-content-around">
                    <li class="NavItems nav-item"><a asp-controller="Home" asp-action="Index" class="NavItemLinks MainPageLInk before tc fr trans400 relative">صفحه اصلی</a></li>
                    <li class="NavItems nav-item"><a asp-controller="Search" asp-action="Index" class="NavItemLinks fr trans400 after relative">جستجو ملک</a></li>
                    <li class="NavItems nav-item"><a href="javascript:Void(0)" class="NavItemLinks fr trans400 after relative">تقاضا ملک</a></li>
                    <li class="NavItems nav-item"><a asp-controller="House" asp-action="Create" class="NavItemLinks fr trans400 after relative">سپردن ملک</a></li>
                    <li class="NavItems nav-item"><a href="javascript:Void(0)" class="NavItemLinks fr trans400 after relative">اخبار امکلاک و اقتصاد</a></li>
                    <li class="NavItems nav-item"><a asp-controller="Pages" asp-action="Detail" asp-route-basename="Legal" class="NavItemLinks fr trans400 after relative">دانستنی های حقوقی</a></li>
                    <li class="NavItems nav-item"><a href="http://www.iranamlaak.ir/Forms/Contracts/FilterContractsByContractSide.aspx" class="NavItemLinks fr trans400 after relative">استعلام کد رهگیری</a></li>
                    <li class="NavItems nav-item"><a asp-controller="Pages" asp-action="Detail" asp-route-basename="About" class="NavItemLinks fr trans400 after relative">ارتباط با ما</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
