@using Amlak.Core.ViewModel.Category
@using Amlak.Core.ViewModel.Option
@using DNTPersianUtils.Core.IranCities
@model Amlak.Core.ViewModel.House.HouseCreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@{
    var option =(List<OptionViewModel>) ViewBag.OptionList;
    var Cateroty = (List<CategoryViewModel>)ViewBag.CategoryList;

}

<div class="PageMainContent ofh relative">

    <form asp-controller="House" asp-action="Create" method="post">

        <div class="row w-100 m-auto">
            <div class="col-12">
                <div class="PageBox mx-2 my-1">
                    <div class="InnerPageItemHeader radius3">
                        <h2 class="InnerPageItemHeaderTitle tr w-100 lh3-5 h100p bold prl15 relative"><span class="InnerPageItemHeaderTitleBefore absolute after"></span>اطلاعات اولیه</h2>
                    </div>
                    <div class="p-2">
                        <div class="EnterHomeContent">
                            <div class="EnterFormTabPanneItem row w-100 m-auto">
                                <div class="col-md-4">
                                    @if (TempData.ContainsKey("Message"))
                                    {
                                        <div class="alert alert-success fade in alert-dismissable" style="opacity: 1 !important">
                                            <a href="#" class="close"  data-dismiss="alert" aria-label="close" title="close">×</a>
                                            @TempData["Message"].ToString()
                                        </div>
                                    }
                                </div>
                                
                                <div class="px-2 col-md-12 col-12 my-2">
                                    <label asp-for="Title"></label>
                                    <input asp-for="Title" class="form-control" placeholder="عنـــوان"/>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="px-2 col-12 my-2">
                                    <label asp-for="Description"></label>
                                    <input asp-for="Description" class="form-control" placeholder="توضیحات"/>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="form-group px-2 col-md-3 col-12 my-2">

                                    <label asp-for="Status"></label>
                                    <select name="Status" class="form-control">
                                        <option disabled selected>وضعـــــــیت</option>
                                        <option value="خرید">خرید</option>
                                        <option value="رهن">رهن</option>
                                        <option value="اجاره">اجاره</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>

                                </div>
                                <div class="form-group px-2 col-md-3 col-12 my-2">
                                    <label asp-for="CategoryId"></label>

                                    <select name="CategoryId" class="form-control">
                                        <option disabled selected>نـــوع ملـــــک</option>

                                        @foreach (var item in Cateroty)
                                        {
                                            <option value="@item.Id">@item.Title</option>

                                        }
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>

                                </div>

                                <div class="px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Scale"></label>
                                    <input asp-for="Scale" class="form-control" placeholder="متراژ"/>
                                    <span asp-validation-for="Scale" class="text-danger"></span>
                                </div>

                                <div class="px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Region"></label>
                                    <input asp-for="Region" class="form-control" placeholder="منطقه"/>
                                    <span asp-validation-for="Region" class="text-danger"></span>
                                </div>

                                <div class="px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Town"></label>

                                    <select name="Town" class="form-control">
                                        <option disabled selected>استان</option>

                                        @foreach (var item in Iran.Provinces.OrderBy(q => q.ProvinceName))
                                        {

                                            <option value="@item.ProvinceName">@item.ProvinceName</option>
                                        }

                                    </select>
                                    <span asp-validation-for="Town" class="text-danger"></span>
                                </div>


                                <div class="px-2 col-md-3 col-12 my-2">
                                    <label asp-for="City"></label>
                                    <input asp-for="City" class="form-control" placeholder="شهر"/>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>


                                <div class="px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Area"></label>
                                    <input asp-for="Area" class="form-control" placeholder="محله"/>
                                    <span asp-validation-for="Area" class="text-danger"></span>

                                </div>


                                <div class="px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Floor"></label>
                                    <input asp-for="Floor" class="form-control" placeholder="طبقه"/>
                                    <span asp-validation-for="Floor" class="text-danger"></span>

                                </div>


                                <div class="px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Price"></label>
                                    <input asp-for="Price" class="form-control" type="number" placeholder="قیمت (بر حسب تومان)">
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>

                                <div class="form-group px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Rooms"></label>

                                    <select name="Rooms" class="form-control">
                                        <option disabled selected>تعــداد اتـــاق</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">+4</option>
                                    </select>
                                    <span asp-validation-for="Rooms" class="text-danger"></span>
                                </div>

                                <div class="form-group px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Bathrooms"></label>
                                    <select name="Bathrooms" class="form-control">
                                        <option disabled selected>تعــداد حمــام</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">+4</option>
                                    </select>
                                    <span asp-validation-for="Bathrooms" class="text-danger"></span>

                                </div>

                                <div class="form-group px-2 col-md-3 col-12 my-2">
                                    <label asp-for="Parkings"></label>
                                    <select name="Parkings" class="form-control">
                                        <option disabled selected>تعــداد پارکینگ</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">+4</option>
                                    </select>
                                    <span asp-validation-for="Parkings" class="text-danger"></span>

                                </div>
                                <input type="submit" value="ثبت" class="btn btn-primary searchBtn"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="PageBox mx-2 my-1">
                    <div class="InnerPageItemHeader radius3">
                        <h2 class="InnerPageItemHeaderTitle tr w-100 lh3-5 h100p bold prl15 relative"><span class="InnerPageItemHeaderTitleBefore absolute after"></span>نقشه</h2>
                    </div>
                    <div class="p-2">
                        <div name="Loacation" id="map">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="PageBox mx-2 my-1">
                    <div class="InnerPageItemHeader radius3">
                        <h2 class="InnerPageItemHeaderTitle tr w-100 lh3-5 h100p bold prl15 relative"><span class="InnerPageItemHeaderTitleBefore absolute after"></span>امکانات</h2>
                    </div>
                    <div class="MoreOptionItem p-2">
                        <div class="row w-100 m-auto">
                            @foreach (var item in option)
                            {
                                <label class="custom-control custom-checkbox px-1 col-6">
                                    <input name="OptionIds" type="checkbox" value="@item.Id" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">@item.Title</span>
                                </label>

                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="PageBox mx-2 my-1">
                    <div class="InnerPageItemHeader radius3">
                        <h2 class="InnerPageItemHeaderTitle tr w-100 lh3-5 h100p bold prl15 relative"><span class="InnerPageItemHeaderTitleBefore absolute after"></span>گالری تصاویر</h2>
                    </div>
                    <div class="p-2">insert image to gallery</div>
                </div>
            </div>

        </div>
    </form>

</div>
