@using Amlak.Core.ViewModel.Category
@using Amlak.Core.ViewModel.Option
@using DNTPersianUtils.Core.IranCities
@model object

@{
    var Option = (List<OptionViewModel>)ViewBag.OptionList;
    var Cateroty = (List<CategoryViewModel>)ViewBag.CategoryList;

}
<div class="SearchForm p-3">
    <nav class="nav nav-tabs SearchFormHeader" id="myTab" role="tablist">
        <a class="nav-item nav-link SearchFormHeaderNavItem pt-2 px-1 h-100 tc trans400 rounded active" id="nav-home-tab" data-toggle="tab" href="#kharid" role="tab" aria-controls="nav-home" aria-expanded="true">خرید</a>
        <a class="nav-item nav-link SearchFormHeaderNavItem pt-2 px-1 h-100 tc trans400 rounded" id="nav-profile-tab" data-toggle="tab" href="#rahn" role="tab" aria-controls="nav-profile">رهن و اجاره</a>
        <a class="nav-item nav-link SearchFormHeaderNavItem pt-2 px-1 h-100 tc trans400 rounded" id="nav-profile-tab" data-toggle="tab" href="#melk" role="tab" aria-controls="nav-profile">سپردن ملک</a>
        <a class="nav-item nav-link SearchFormHeaderNavItem pt-2 px-1 h-100 tc trans400 rounded" id="nav-profile-tab" data-toggle="tab" href="#bagh" role="tab" aria-controls="nav-profile">باغ و ویلا</a>
    </nav>
    <div class="tab-content SearchFormTabContent border border-secondary p-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="kharid" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row w-100 m-auto SearchFormTabPannelRow">
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">استان و شهر</label>
                        <div class="col-lg-5 p-1">
                            <select name="Town" class="form-control" data-role="province">
                                <option disabled selected>استان</option>

                                @foreach (var item in Iran.Provinces.OrderBy(q => q.ProvinceName))
                                {
                                    <option value="@item.ProvinceName" selected="@(item.ProvinceName == "تهران")">@item.ProvinceName</option>
                                }

                            </select>
                        </div>
                        <div class="col-lg-5 p-1">
                            @foreach (var province in Iran.Provinces.OrderBy(q => q.ProvinceName))
                            {
                                <select name="City" class="form-control" data-province="@province" style="display: none;">
                                    @foreach (var county in province.Counties)
                                    {
                                        <option value="@county">@county</option>
                                    }
                                </select>
                            }


                            <script>
                                (function () {
                                    function change(elem) {
                                        var province = $(elem).val();
                                        $('[data-province]')
                                            .hide()
                                            .filter('[data-province="' + province + '"]')
                                            .show();
                                    }

                                    $('[data-role="province"]').on('change',
                                        function () {
                                            change(this);
                                        });

                                    change($('[data-role="province"]'));
                                }());
                            </script>
                        </div>

                    </div>

                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">منطقه و محله</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="منطقه" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="محله" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">نوع ملک</label>
                        <div class="col-lg-10 p-1">
                            <select name="CategoryId" class="form-control">
                                <option disabled selected>نـــوع ملـــــک</option>

                                @foreach (var item in Cateroty)
                                {
                                    <option value="@item.Id">@item.Title</option>

                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">متراژ</label>
                        <div class="col-lg-10 p-1">
                            <input class="form-control" type="text" placeholder="از 50 تا 70 متر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">قیمت متری</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداقل" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداکثر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">قیمت کل</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداقل" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداکثر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-12 p-2">
                    <div class="row w-100 m-auto">
                        <label for="example-text-input" class="col-lg-1 col-form-label p-0 text-center">امکانات</label>
                        <div class="col-lg-11">
                            <div class="row w-100 m-auto">
                                @foreach (var item in Option)
                                {
                                    <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                        <input name="OptionIds" type="checkbox" value="@item.Id" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description mr-2 mt-1">@item.Title</span>
                                    </label>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-12 p-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary searchBtn">جستجـــــــــو</button>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="rahn" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row w-100 m-auto SearchFormTabPannelRow">
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">استان و شهر</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="استان" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="شهر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">منطقه و محله</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="منطقه" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="محله" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">نوع ملک</label>
                        <div class="col-lg-10 p-1">
                            <input class="form-control" type="text" placeholder="آپارتمان" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">متراژ</label>
                        <div class="col-lg-10 p-1">
                            <input class="form-control" type="text" placeholder="از 50 تا 70 متر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">قیمت متری</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداقل" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداکثر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">قیمت کل</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداقل" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداکثر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-12 p-2">
                    <div class="row w-100 m-auto">
                        <label for="example-text-input" class="col-lg-1 col-form-label p-0 text-center">امکانات</label>
                        <div class="col-lg-11">
                            <div class="row w-100 m-auto">
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">پارکینگ</span>
                                </label>
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">انباری</span>
                                </label>
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">اسانسور</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-12 p-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary">جستجـــــــــو</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="melk" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row w-100 m-auto SearchFormTabPannelRow">
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">استان و شهر</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="استان" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="شهر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">منطقه و محله</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="منطقه" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="محله" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">نوع ملک</label>
                        <div class="col-lg-10 p-1">
                            <input class="form-control" type="text" placeholder="آپارتمان" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">متراژ</label>
                        <div class="col-lg-10 p-1">
                            <input class="form-control" type="text" placeholder="از 50 تا 70 متر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">قیمت متری</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداقل" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداکثر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">قیمت کل</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداقل" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداکثر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-12 p-2">
                    <div class="row w-100 m-auto">
                        <label for="example-text-input" class="col-lg-1 col-form-label p-0 text-center">امکانات</label>
                        <div class="col-lg-11">
                            <div class="row w-100 m-auto">
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">پارکینگ</span>
                                </label>
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">انباری</span>
                                </label>
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">اسانسور</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-12 p-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary">جستجـــــــــو</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="bagh" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row w-100 m-auto SearchFormTabPannelRow">
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">استان و شهر</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="استان" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="شهر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">منطقه و محله</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="منطقه" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="محله" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">نوع ملک</label>
                        <div class="col-lg-10 p-1">
                            <input class="form-control" type="text" placeholder="آپارتمان" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">متراژ</label>
                        <div class="col-lg-10 p-1">
                            <input class="form-control" type="text" placeholder="از 50 تا 70 متر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">قیمت متری</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداقل" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداکثر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-sm-6 p-2">
                    <div class="row w-100 m-auto align-items-center">
                        <label for="example-text-input" class="col-lg-2 col-form-label p-0 text-center">قیمت کل</label>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداقل" id="example-text-input">
                        </div>
                        <div class="col-lg-5 p-1">
                            <input class="form-control" type="text" placeholder="حداکثر" id="example-text-input">
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-12 p-2">
                    <div class="row w-100 m-auto">
                        <label for="example-text-input" class="col-lg-1 col-form-label p-0 text-center">امکانات</label>
                        <div class="col-lg-11">
                            <div class="row w-100 m-auto">
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">پارکینگ</span>
                                </label>
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">انباری</span>
                                </label>
                                <label class="custom-control custom-checkbox d-flex justify-content-center col-lg-4 col-sm-4 m-0 px-1">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description mr-2 mt-1">اسانسور</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="SearchFormTabPanneItem col-12 p-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary">جستجـــــــــو</button>
                </div>
            </div>
        </div>
    </div>
</div>