@using Amlak.Core.SSOT
@using DNTPersianUtils.Core
@model List<Amlak.Core.ViewModel.House.HouseViewModel>
@{
    ViewData["Title"] = "لیست املاک";
    var count = 0;
}



<form asp-controller="House" asp-action="Index" method="get">
    <div class="row">
        <div class="col-sm-3 col-xs-12  form-group">
            <label>عنوان ملک</label>
            <input name="Term" class="form-control" value="@ViewBag.Term">
        </div>

        <div class="col-sm-4 col-xs-12  form-group">
            <label>گروه ملک</label>
            <select name="CategoryId" asp-items="(SelectList)ViewBag.Category" class="form-control">
                <option></option>
            </select>
        </div>
        <div class="col-xs-4  form-group">
            <button type="submit" class="btn btn-success" style="margin-top: 22px; height: 34px;"> جستجو ملک</button>
        </div>
    </div>

</form>
<div class="container">


    <div class="table-responsive">
        <table class="table table-striped table-hover table-valigned">
            <thead>
                <tr>
                    <th width="10">ردیف</th>
                    <th>عنوان</th>
                    <th>وضیعت</th>
                    <th>قیمت </th>
                    <th>نمایش در سایت</th>
                    <th>نمایش در پیشنهاد ویژه</th>
                    <th width="200">اقدامات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;

                <tr>
                    <td>@count.ToPersianNumbers()</td>

                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Status
                    </td>

                    <td>@item.Price.TomansThousand() تومان</td>
                    <td align="center">
                        <span class="label label-sm label-@(item.IsPublished ? "success" : "danger")">
                            @(item.IsPublished ? "منتشر شده" : "منتشر نشده")
                        </span>
                    </td>

                    <td align="center">
                        <span class="label label-sm label-@(item.IsSpecialOffer ? "success" : "danger")">
                            @(item.IsSpecialOffer ? "نمایش" : "عدم نمایش")
                        </span>
                    </td>

                    <td>
                        <a class="btn btn-sm btn-success" asp-controller="House" asp-action="Edit" asp-route-id="@item.Id">
                            ویرایش
                        </a>

                        <a class="btn btn-sm btn-info" asp-controller="House" asp-action="Detail" asp-route-id="@item.Id">
                            جزئیات
                        </a>

                        <a class="btn btn-sm btn-danger" asp-controller="House" asp-action="Delete" asp-route-id="@item.Id" ,new { onclick="return confirm('جهت حذف مطمئن هستید ؟')" }>
                            حذف
                        </a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>

</div>